{
  "overrides": [
    {
      "files": ["tailwind.config.js", "postcss.config.js"],
      "rules": {
        "@typescript-eslint/no-require-imports": "off",
        "import/no-commonjs": "off",
      },
    },
  ],
}
